<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>插件激活</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>插件启用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>角标样式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>isCustomColors</string>
			<key>label</key>
			<string>自定义颜色</string>
			<key>nestedEntryCount</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>NGCColorPickerCell</string>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>badgeBackgroundColor</string>
			<key>label</key>
			<string>角标背景颜色</string>
			<key>supportAlpha</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>NGCColorPickerCell</string>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>badgeTextColor</string>
			<key>label</key>
			<string>角标文本颜色</string>
			<key>supportAlpha</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>key</key>
			<string>badgeStyle</string>
			<key>validTitles</key>
			<array>
				<string>跟随图标颜色</string>
				<string>跟随壁纸颜色</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>角标阴影透明度</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>角标阴影（默认：0.8）</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.80000000000000004</real>
			<key>defaults</key>
			<string>com.0xkuj.notificationsgroupcountprefs</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>shadowOpacity</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.0</real>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>恢复到默认设置 - 将恢复您的插件偏好设置为首次配置</string>
			<key>label</key>
			<string>杂项</string>
		</dict>
		<dict>
			<key>action</key>
			<string>defaultsettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>恢复到默认设置</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>注销</string>
		</dict>
	</array>
	<key>title</key>
	<string>通知组计数</string>
</dict>
</plist>
